* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: "Segoe UI";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5px;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

h2 {
    font-size: 50px;
    padding-bottom: 16px;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

.page-wrapper {
    z-index: 0;
    position: relative;
}

.container {
    width: 90%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-medium {
    margin-bottom: 32px;
}

.paragraph-large {
    letter-spacing: -0.02em;
    font-size: 20px;
}

.section-timeline-heading {
    background-color: #0a0a0a;
}

.padding-vertical-xlarge {
    padding-top: 120px;
    padding-bottom: 120px;
}

.timeline-main-heading-wrapper {
    color: #fff;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.timeline-component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.timeline-item {
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
}

.timeline-item-left {
    direction: ltr;
}

.timeline-item-right {
    direction: rtl;
}

.timeline-item-right .timeline-left,
.timeline-item-right .timeline-centre,
.timeline-item-right .timeline-right {
    direction: ltr;
}

.timeline-left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}

.timeline-item-right .timeline-left {
    text-align: left;
    justify-content: flex-start;
}

.timeline-centre {
    justify-content: center;
    display: flex;
}

.timeline-date-text {
    color: #fff;
    letter-spacing: -0.03em;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 50vh;
}

.timeline-text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}

.timeline-description {
    color: #ffffffa6;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 16px;
    margin-bottom: 24px;
}

.timeline-circle {
    background-color: #fff;
    border-radius: 100%;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline-progress {
    z-index: -2;
    background-color: #414141;
    width: 3px;
    height: 100%;
    position: absolute;
}

.timeline-progress-bar {
    z-index: -1;
    background: #ff6a00;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to bottom, #ff6a00, #ee0979);
    width: 3px;
    height: 50vh;
    position: fixed;
    inset: 0 auto 50vh;
}

.section-timeline {
    z-index: -3;
    background-color: #0a0a0a;
    position: relative;
}

.margin-bottom-xlarge {
    margin-bottom: 56px;
}

.timeline-link {
    opacity: 0.6;
    color: #fff;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
    transition: opacity 0.3%;
    display: flex;
}

.timeline-link:hover {
    opacity: 1;
}

.link-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.inline-block {
    display: inline-block;
}

.text-colour-lightgrey {
    color: #ffffffa6;
}

.overlay-fade-top {
    background-image: linear-gradient(#0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
}

.overlay-fade-bottom {
    background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: auto 0% 0%;
}


@media screen and (max-width: 767px) {
    h2 {
        font-size: 40px;
    }

    .paragraph-large {
        font-size: 18px;
    }

    .padding-vertical-xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline-item,
    .timeline-item-left,
    .timeline-item-right {
        grid-template-columns: 64px 1fr;
        width: 100%;
        direction: ltr;
    }

    .timeline-left{
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
        justify-content: flex-start;
    }

    .timeline-item-right .timeline-left {
        text-align: left;
        justify-content: flex-start;
    }

    .timeline-centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline-right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline-date-text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline-text {
        font-size: 20px;
    }

    .timeline-progress {
        left: 6px;
    }

    .margin-bottom-xlarge {
        margin-bottom: 48px;
    }
}